body {
    font-family: 'Inika', sans-serif;
    font-weight: 700;
}
/*заголовок*/
.header {
    font-family: 'M PLUS 1', sans-serif;
    min-height: 60px;
    max-height: 69px;
    text-align: center;
    font-size: 48px;
    font-weight: 400;
}
.header-strong {
    color: #3E45E8;
}
.heder-ukraine{
    color: #E8C23E;
}
/*перша картинка*/
.banner {
    
    height: 703px;
    background-image: url("../img/image1.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 110px;
    box-sizing: border-box;
    padding-left: 0px;
}
.content1 {
    padding-top: 10px;
    color: #FFFFFF;
    width: 1036px;
    font-size: 48px;
    padding-left: 118px;
    background-repeat: no-repeat;
    text-align: left;
    background-image: url("../img/flag.png"); 
}
/*три картинки в ряд*/
.main {
    padding: 0 80px;
}
.text {
    margin: 72px 0;
    font-size: 40px;
    line-height: 157%;
    color: #000000;
}
.text1 {
    width: 610px;
    height: 63px;
    top: 985px;
    left: 80px;
    text-align: left;
}
.line {
    width: 402px;
    border-bottom: 5px solid #3e45e8;
}
.card1 {
    border: 0px;
    width: 340px;
    color:#FFFFFF;
    display: inline-block;
    vertical-align: top;
    border-radius: 30px 10px;
    box-shadow: 0px 4px 57px 3px;
}
.card__image {
    width: 100%;
}
.card_margin1 {
    margin: 0 5%;   
}
.card__title {
    font-family: 'Inika';
    font-size: 24px;
    padding: 10px;
    box-sizing: border-box;
    color: #1E8DF2;
}
.card__subtitle {
    font-size: 20px;
    font-weight: 400;
    color: #E8C23E;
    padding: 10px;
    box-sizing: border-box;
}
/*ще один заголовок*/
.text2 {
    text-align: center;
}
.line2 { 
    margin-left: auto;
    margin-right: auto;
}
/*карта*/
.mapa {
    width: 812px;
    height: 537px;
    left: 594px;
    top: 1786px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*кнопка*/
.button {
    width: 591px;
    height: 121px;
    left: 418px;
    top: 2364px;
    background: #2A61F0;
    background-image: url(../img/Rectangle6.png);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 21px;
}
/* посилання */
.content2 {
    font-weight: 700;
    font-size: 64px;
    line-height: 101px;
    color: #FFFFFF;
    text-align: center;
}
/*останній блок*/
.vault {
    
    height: 320px;
    top: 2506px;
    background-color: #2F4A4B;
    left: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    top: 2260px;
    text-align: center;
}
/*контакти*/
.contact-link {
    font-family: 'Marcellus SC';
    font-size: 36px;
    line-height: 1.25;
    letter-spacing: 0.1em;
    color: #A89D9D;
    text-decoration: none;
    
}
.mailto {
    width: 459px;
    left: 470px;  
}
.tel {
    width: 355px;
    left: 546px; 
}
/*соціальні мережі*/
.card2 {
    border: 0px;
    width: 64px;
    display: inline-block; 
    
}
.card_margin2 {
    margin: 0;   
}
